.advantages__list{
  @media (min-width:@tablet-width) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 153px;
  }
  @media (min-width:@descktop-width) {
  display: grid;
  grid-template-columns:230px 230px 230px 230px;
  column-gap: 94px;
  padding: 0;
  margin: 0;
}
}
.advantages__item{
  display: block;
  height: 60px;
  margin-bottom: 20px;
  display: flex;
  @media (min-width:@tablet-width) {
  height: 280px;
  }
}
.advantages__item div{
  background-color: @green;
  width: 60px;
  height: 60px;
  @media (min-width:@tablet-width) {
    height: 80px;
    width: 80px;
    }
}
.advantages h2{
  font-size: 36px;
  line-height: 40px;
  margin-top: 38px;
  @media (min-width:@tablet-width) {
   font-size: 60px;
   line-height: 60px;
  }
}
.advantages p{
  margin:0 0 0 20px;
}
.advantages{
  margin-bottom: 42px;
  @media (min-width:@tablet-width) {
    margin-bottom: 47px;
   }
   @media (min-width:@descktop-width) {
    margin-bottom: 25px;
   }
}
