.advantages__list div{
  background-color: @green;
  width: 80px;
  height: 80px;
  position: absolute;
}
.advantages__list{
  display: grid;
  grid-template-columns:230px 230px 230px 230px;
  column-gap: 94px;
  padding: 0;
  margin: 0;
}
.advantages__list li{
  display: block;
  height: 280px;
}
.advantages{
  margin-left: 110px;
  margin-right: 110px;
}
.advantages p{
  margin-top: 151px;
}

