.button(@width:244px;@height:54px){
  background-color: @green;
  width:@width ;
  height:@height;
  border: none;
  color: #ffffff;
}
.user-nav__button{
  display: block;
  .button();
}
.button-midle{
  .button(168px;40px);
}
.button-big{
  .button(244px;40px);
}
.button-tablet{
  .button(248px;39px);
}
.button-mobile{
  .button(280px;40px);
}
.button-long{
  .button(632px;38px);
}
.button-showall{
  background-color: @grey;
  width: 169px;
  height: 40px;
}
.button-form{
  .button(568px;52px);
  margin-left: 110px;
}
