.button(@width:280px;@height:40px){
  background-color: @green;
  width:@width ;
  height:@height;
  border: none;
  color: #ffffff;
}
.button{
  &-nav{
  display: block;
  .button();
}
  &-midle{
  .button(168px;40px);
}
  &-big{
  .button(244px;40px);
}
  &-tablet{
  .button(248px;39px);
}
  &-mobile{
  .button(280px;40px);
}
  &-long{
  .button(632px;38px);
}
  &-showall{
  background-color: @grey;
  width: 169px;
  height: 40px;
}
  &-form{
  .button(568px;52px);
  margin-left: 110px;
}
}
