.page-catalog h1{
  font-size: 36px;
  line-height: 36px;
  @media (min-width:@tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
.header-catalog .list__link{
  @media (min-width:@desktop-width) {
    color:#111111;
    &--carrent::before{
      position: absolute;
      content: '';
      width: 168px;
      height: 2px;
      background-color: @green;
      bottom:10px;
    }
  }
}
.cards{
  @media (min-width:@tablet-width) {
  display: flex;
  flex-wrap: wrap;
  .card:nth-child(even){
    margin-right:60px ;
    }
}
@media (min-width:@desktop-width){
  .card:not(:nth-child(5)){
    margin-right:80px ;
    }
}
}
.card-nocard p{
 font-size: 12px;
 line-height: 16px;
 color: #444444;
 @media (min-width:@tablet-width) {
  font-size: 16px;
  line-height: 18px;
}
}
.card-nocard__restangle{
  width: 279px;
  height: 158px;
  @media (min-width:@tablet-width) {
   width: 324px;
   height: 409px;
   border: 2px solid #F2F2F2;
  }
}

