.page-catalog h1{
  font-size: 36px;
  line-height: 36px;
  @media (min-width:@tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
  @media (min-width:@descktop-width){}
}
.card{
  width: 320px;
  height:190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 19px;
}
.frame{
  width: 140px;
  height: 112px;
}
.card__block-info{
  width: 142px;
  height: 103px;
}
.card__block-info h3{
  font-size: 16px;
  line-height: 20px;
}
.card__block-info td{
  font-size: 12px;
  line-height: 16px;
}
.card-wrapper{
  display: flex;
  justify-content: space-between;
}
