/*.page-footer{
  margin-bottom:58px;
}
.page-footer h3{
  font-size: 20px;
  line-height: 21px;
}
.page-footer p,.page-footer span{
  font-size: 16px;
  line-height: 20px;
}
.copyright span{
  font-size: 16px;
  line-height: 18.4px;
}
.map{
  width: 1440px;
  height:400px ;
  position: relative;
}
.map__contacts{
  width: 570px;
  height: 201px;
  background-color: @white;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top:50px;
  left:50px;
}
.lowerfooter{
  display: flex;
  justify-content: space-between;
}*/
