.questionnaire{
  margin-bottom: 32px;
  @media (min-width:@tablet-width) {
    margin-bottom:72px ;
}
@media (min-width:@desktop-width){
margin-bottom: 82px;
}}
.page__forma h1{
 font-size: 36px;
 line-height: 36px;
 @media (min-width:@tablet-width) {
  font-size: 60px;
  line-height: 60px;
  margin-left: 71px;
}
@media (min-width:@desktop-width){
  margin-left:110px;
  }
}
legend{
  font-size: 24px;
  line-height: 26px;
  @media (min-width:@tablet-width){
  font-size: 36px;
  line-height: 36px;
  margin-left: 71px;
  padding: 0;
}
@media (min-width:@desktop-width){
  margin-left:110px;
  }
}

.sizeinput(@size;@line){
  font-size: @size;
  line-height: @line;
  color: #222222;
  font-family:"osvaldregular",Arial,sans-serif ;
  font-weight: 400;
  text-transform: uppercase;
}
 .border( ){
  border-top:2px solid @green;
  border-bottom:none;
  border-left:none;
  border-right:none;
}
.input(@width;@height;@bottom){
  width: @width;
  height:@height;
  margin-bottom:@bottom;
  border: 1px solid #E7E7E7
}
 input:hover{
  border: 1px solid #CDCDCD;
}
 input:focus{
  border: 2px solid #444444;
}
input.error{
  border: 2px solid #FF8282;
}




