.page-header__promo{
  position: relative;
  width: 100%;
  height: 460px;
  @media (min-width:@tablet-width) {
   height: 910px;
  }
  @media (min-width:@desktop-width) {
    height: 696px;
  }
}
.cat-wrap{
  position: absolute;
  width: 320px;
  height: 302px;
  z-index: -2;
  top:0;
  left: 0;
  margin-bottom: 135px;
  @media (min-width:@tablet-width) {
   display: none;
  }
  @media (min-width:@desktop-width) {
    display: block;
    width: 720px;
    height: 694px;
    left:720px;
    transform: translateY(-250px);
  }
}
.cat{
  width:320px ;
  height: 302px;
  position: absolute;
  top:0;
  left: 0;
  z-index:-3;
  @media(min-resolution:2dppx){
  background-image: url(/img/index-background-mobile@2x.jpg);
  @media (min-width:@tablet-width) {
   display: none;
  }
  @media (min-width:@desktop-width) {
  display: block;
  width: 720px;
  height: 694px;
  left: 720px;
  transform: translateY(-250px);
  @media (min-resolution:2dppx) {
    background-image: url(/img/index-background-desktop@2x.jpg);
  }
}
  }
}
.page-header__promo h1{
  color: @white;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  padding-top: 27px;
  margin-bottom: 25px;
  @media (min-width:@tablet-width) {
   color: @black;
   font-size: 60px;
   line-height: 60px;
   text-align: start;
   margin-left: 117px;
  }
}
.slogan{
  color: @white;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 302px;
  text-align: center;
  @media (min-width:@tablet-width) {
  color: @black;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 49px;
  text-align: start;
  margin-left: 117px;
  }
}
.cup{
  position: absolute;
  z-index: 4;
  top:150px;
  left:0px;
  width: 280px;
  height: 270px;
  @media (min-width:@tablet-width) {
    width: 709px;
    height: 609px;
    top: 350px;
  }
  @media (min-width:@desktop-width) {
    left: 600px;
    width: 552px;
    height: 499px;
    top:150px;
  }
}
.header-forma,.header-catalog{
  height: 38px;
  margin-bottom: 44px;
}
.forma__list,.catalog__list {
  display: none;
  @media (min-width:@tablet-width){
    display: flex;
    justify-content: space-around;
  }
}
.forma-link,.catalog-link{
  @media (min-width:@tablet-width){
  color: @black;
  font-size: 18px;
  line-height: 24px;
  }
  @media (min-width:@desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
 }
