
  @media (max-width:@mobile-width-only){
    .header-nav--closed .list__item{
      display: none;
 }
   .header-nav--nojs .header-nav__toggle{
    display: none;
}
   .header-nav--nojs .list__item{
    display: block;
}
   .header-nav--nojs .list{
    position: static;
    min-height: 0;
}
   .header-nav--closed .list-wrapper{
    display: none;
   }
   .header-nav--closed .logo-left{
    margin-right: 57px;
   }
   .header-nav--closed .logo-right{
    margin-right: 65px;
   }
}
