/*.offer a{
  font-size: 20px;
  line-height: 30px;
}
.offer h3{
  font-size: 36px;
  line-height: 36px;
}
.offer__wrapper{
  margin-left: 110px;
  margin-right: 110px;
  display: grid;
  grid-template-columns:720px 720px ;
  column-gap: 80px;
}

.offer div.wrapper{
width: 570px;
height: 374px;
background-color: @grey;
}
.picture{
  background-color: @green;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.fat__link,.slim__linc{
  color: @black;
}
.offer{
  margin-bottom: 71px;
}*/
