.page{
  max-width: 1440px;
  height: 100%;
  background-color: @white;
  font-family: "osvaldregular","Arial",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color:@black;
  display: grid;
  grid-template-rows:min-content 1fr min-content;
}
.page-body{
  margin-left: 110px;
}
