.stats{
  width: 100%;
  min-height:705px;
  background-color: @grey;
  @media (min-width:@desktop-width) {
    background-color: @white;
   }
}
.stats-wrapper{
  display: flex;
  flex-direction: column;
  @media (min-width:@desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: @grey;
   }
}
.stats__stat{
 grid-column: 1/2;
 margin-left: 110px;
}
.stats-slider{
  grid-column: 2/-1;
}
.stats-result{
  color: #444444;
  @media (min-width:@tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
  @media (min-width:@desktop-width) {
    width: 436px;
    margin-bottom: 69px;
    margin-top: 70px;
   }
}
.stats__stat br{
  @media (min-width:@tablet-width) {
  display: none;
}
}
.stats h2{
  font-size: 36px;
  line-height: 40px;
  @media (min-width:@tablet-width) {
    font-size: 60px;
    line-height: 60px;
   }
   @media (min-width:@desktop-width) {
    margin-left: 110px;
   }
}
.moduls{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.modul{
  width: 124px;
  min-height: 64px;
  margin-right: 30px;
  background-image: url(/img/weight.svg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left:20px;
  &:nth-child(2){
    margin-right: 0;
  }
  @media (min-width:@tablet-width) {
   width: 162px;
   height: 77px;
   margin-right: 42px;
  }
}
.modul .dt{
  line-height: 24px;
  font-size: 24px;
  margin-top: 15px;
  @media (min-width:@tablet-width) {
    font-size: 30px;
    line-height: 37px;
   }
}
.modul .dd{
  font-size: 12px;
  line-height: 12px;
  margin-top: 16px;
  @media (min-width:@tablet-width) {
    font-size: 14px;
    line-height: 14px;
   }
}
.modul-cost{
  display: flex;
  @media (min-width:@tablet-width) {
    display: block;
   margin-left:104px ;
   }
   @media (min-width:@desktop-width) {
    display: flex;
    margin-left: 0;
    margin-top: 55px;
   }
}
.modul-cost p,.modul-cost span{
  font-size: 14px;
  line-height: 20px;
  text-transform:uppercase ;
  @media (min-width:@tablet-width) {
    font-size: 20px;
   }
}
.modul-cost p{
  margin-left: 66px;
  @media (min-width:@desktop-width) {
    margin: 0;
    margin-right: 63px;
   }
}
.modul-cost span{
  margin-top: 14px;
  @media (min-width:@tablet-width) {
    padding-left: 155px;
   }
   @media (min-width:@desktop-width) {
    margin: 0;
    padding: 0;
   }
}
.slider span{
  font-size: 20px;
  line-height: 30px;
}


.scroll{
  display: flex;
}
.scroll--scale{
  width: 84px;
  height: 14px;
  background-color: #DCDCDC;
}
.scroll span{
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.scale-cat{
  width: 311px;
  height: 232px;
  @media (min-width:@tablet-width) {
    width: 354px;
    height: 620px;
}
@media (min-width:@desktop-width) {
  width: 405px;
  height: 536px;
}
}

